<!-- /templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>nightcore.me</title>
<script src="https://kit.fontawesome.com/26ff671cf4.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="banner">
    <div class="banner-content">
        <h1 class="logo">nightcore.me</h1>
        <nav class="navbar">
            <a href="/" class="nav-link">home</a>
            <a href="/about" class="nav-link active">about</a>
        </nav>
    </div>
</div>
<div class="hero">
    <h1 class="hero-text">made by markie.dev</h1>
</div>
<div class="subtext">
    <h1 class="sub-text">files are deleted in 60 seconds.</h1>
</div>
<div class="carousel">
    <a href="https://github.com/markie-dev" class="social-btn github" target="_blank" aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://markie.dev" class="social-btn website" target="_blank" aria-label="Website">
      <i class="fas fa-globe"></i>
    </a>
  </div>
<div class="blur-background"></div>
<div class="circle-container">
    <div class="circle2 purple"></div>
    <div class="circle3 magenta"></div>
    <div class="circle red"></div>
</div>

<footer class="footer-banner">
    2024 &copy; markie-dev
</footer>
</body>
</html>