<!-- /templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>nightcore.me</title>
<script src="https://kit.fontawesome.com/26ff671cf4.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="banner">
    <div class="banner-content">
        <h1 class="logo">nightcore.me</h1>
        <nav class="navbar">
            <a href="/" class="nav-link active">home</a>
            <a href="/about" class="nav-link">about</a>
        </nav>
    </div>
</div>
<div class="hero">
    <h1 class="hero-text">nightcore any song with the click of a button.</h1>
</div>
<div class="upload-wrapper">
    <form method="post" action="/upload" enctype="multipart/form-data" class="form">
        <label class="upload-btn">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            <a style="padding-left: 10px;">Upload File</a>
            <input type="file" name="audiofile" accept=".wav,.mp3,.aac,.ogg" style="display: none;" onchange="document.getElementById('submit-btn').click();">
        </label>
        <input type="submit" id="submit-btn" style="display: none;">
    </form>
    <div id="processing" class="processing-btn" style="display: none; z-index: 2001;">Processing</div>
    <svg class="progress-ring" width="130" height="130" viewBox="0 0 130 130">
        <circle class="progress-ring__circle" stroke="white" stroke-width="5" fill="transparent" r="58" cx="65" cy="65"/>
    </svg>
</div>

<div class="blur-background"></div>
<div class="circle-container">
    <div class="circle2 purple"></div>
    <div class="circle3 magenta"></div>
    <div class="circle red"></div>
</div>

<footer class="footer-banner">
    2024 &copy; markie-dev
</footer>

<script>
    var processingText = document.getElementById('processing');
    var processingInterval;
    var count = 0;

    // Function to start the animation
    function startProcessingAnimation() {
        count = 0;
        processingInterval = setInterval(function() {
            if (count < 3) {
                processingText.textContent += '.';
                count++;
            } else {
                processingText.textContent = 'Processing';
                clearInterval(processingInterval);
                count = 0;
                startProcessingAnimation(); // Call the function again here
            }
        }, 1000);
    }

    // Function to stop the animation
    function stopProcessingAnimation() {
        clearInterval(processingInterval);
        processingText.textContent = 'Processing';
        count = 0;
    }

    document.body.addEventListener('dragover', function(e) {
        e.preventDefault();
    });

    document.body.addEventListener('drop', function(e) {
    e.preventDefault();
    var files = e.dataTransfer.files;
    if (files.length > 0) {
        var fileType = files[0].type;
        var acceptedTypes = ['audio/wav', 'audio/mpeg', 'audio/aac', 'audio/ogg'];
        if (!acceptedTypes.includes(fileType)) {
            // Display toast message
            var toast = document.createElement('div');
            toast.textContent = 'Invalid file type. Please upload a .wav, .mp3, .aac, or .ogg file.';
            toast.style.position = 'fixed';
            toast.style.bottom = '50px';
            toast.style.right = '20px';
            toast.style.padding = '20px';
            toast.style.backgroundColor = 'red';
            toast.style.zIndex = '2005';
            toast.style.borderRadius = '5px';
            toast.style.color = 'white';
            toast.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.5)'; // Add box shadow
            toast.style.webkitBoxShadow = '0px 0px 10px rgba(0, 0, 0, 0.5)'; // Add webkit box shadow for older browsers
            toast.style.opacity = '0'; // Start invisible
            toast.style.transition = 'opacity 0.3s ease-in-out'; // Add transition
            document.body.appendChild(toast);
            requestAnimationFrame(function() {
                requestAnimationFrame(function() {
                    toast.style.opacity = '1'; // Fade in
                });
            });
            setTimeout(function() {
                toast.style.opacity = '0'; // Start fade out
                setTimeout(function() {
                    document.body.removeChild(toast);
                }, 300); // Remove after transition is done
            }, 5000);
            return;
        }
        document.querySelector('.upload-btn').style.display = 'none';
        document.getElementById('processing').style.display = 'block';
        startProcessingAnimation();

        var formData = new FormData();
        formData.append('audiofile', files[0]);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);
        xhr.responseType = 'blob';
        xhr.onloadstart = function(e) {
            document.querySelector('.upload-btn').style.display = 'none';
        };
        xhr.onloadend = function(e) {
            document.querySelector('.upload-btn').style.display = 'block';
        };
        xhr.onload = function() {
            var blob = new Blob([xhr.response], { type: 'audio/mp3' });
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'nightcore_' + files[0].name;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
            document.getElementById('processing').style.display = 'none';
            stopProcessingAnimation();
            var toast = document.createElement('div');
            toast.textContent = 'File "' + a.download + '" has been downloaded.';
            toast.style.position = 'fixed';
            toast.style.bottom = '50px';
            toast.style.right = '20px';
            toast.style.padding = '20px';
            toast.style.backgroundColor = 'green';
            toast.style.zIndex = '2005';
            toast.style.borderRadius = '5px';
            toast.style.color = 'white';
            toast.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.5)'; // Add box shadow
            toast.style.webkitBoxShadow = '0px 0px 10px rgba(0, 0, 0, 0.5)'; // Add webkit box shadow for older browsers
            toast.style.opacity = '0'; // Start invisible
            toast.style.transition = 'opacity 0.3s ease-in-out'; // Add transition
            document.body.appendChild(toast);
            requestAnimationFrame(function() {
                requestAnimationFrame(function() {
                    toast.style.opacity = '1'; // Fade in
                });
            });
            setTimeout(function() {
                toast.style.opacity = '0'; // Start fade out
                setTimeout(function() {
                    document.body.removeChild(toast);
                }, 300); // Remove after transition is done
            }, 5000);
        };
        xhr.send(formData);
    }
});
</script>
</body>
</html>